* {
    box-sizing: border-box;
}

html, body {
    margin-top: 0;
    height: 100%;
    background-color: #f5f6f7;
}

header {
    background-color: white;
    position: sticky;
    margin-top: 0;
    z-index: 1000;
    left: 0;
    top: 0;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-btn {
    text-decoration: none;
}

.user-name {
    opacity: 0.7;
    color: black;
}

.nav-menu {
    text-decoration: none;
    visibility: hidden;
    position: absolute;
    overflow: visible;
    z-index: 999 !important;
    background-color: white;
    padding: 15px;
    box-shadow: 2px 5px 10px -5px black;
}

hr {
    border: none;
    background-color: black;
    color: black;
    height: 2px;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: black;
}

.container {
    overflow: hidden;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    border: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.menu-block:hover .nav-menu {
    visibility: visible !important;
    z-index: 999 !important;
}

.qa-text {
    display: grid;
    margin: auto;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
}

.php-text {
    display: grid;
    margin: auto;
    font-size: 50px;
    font-family: "Lucida Console", Courier, monospace;
    font-style: italic;
    color: black;
}

.java-text {
    display: grid;
    margin: auto;
    font-size: 40px;
    font-style: normal;
    font-style: bold;
    color: white;
}

.dot-net-text {
    display: grid;
    margin: auto;
    font-size: 80px;
    font-style: normal;
    font-style: bold;
    color: white;
}

.js-text {
    display: grid;
    margin-left: calc(100% - 100px);
    margin-top: calc(100% + 50px);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: black;
}

.events-text {
    display: grid;
    margin: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
}

.blog-text {
    display: grid;
    margin: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
}

.contacts-text {
    display: grid;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
}

.icons {
    display: flex !important;
    justify-content: center !important;
    margin-top: 25px;
}

.contact-icon {
    margin-left: 10px;
    font-size: 35px !important;
}

.button {
    margin: auto;
    background-color: #008CBA;
    color: black;
    border: 2px solid #008CBA;
    height: 40px;
    width: 100px;
}

.button:hover {
    background-color: blue;
    color: white;
}

.icons #fb-icon:hover {
    opacity: 0.9;
    color: blue;
}

.icons #tg-icon:hover {
    opacity: 0.9;
    color: blue;
}

.icons #inst-icon:hover {
    opacity: 0.9;
    color: blue;
}

header #nav-bell {
    opacity: 0.4;
    color: black;
}

header #nav-bell:hover {
    opacity: 0.9;
    color: black;
}

.container .left-wrp {
    grid-column: 1;
    border: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 25%);
    justify-content: center;
}

.container .card {
    background-color: white;
    position: relative;
    perspective: 1000px;
}

.front-rotate, .back-rotate {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    transition: 1s;
    backface-visibility: hidden;
}

.front-rotate {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.back-rotate {
    background-color: white;
    transform: rotateY(180deg);
}

.card:hover .front-rotate {
    transform: rotateY(180deg);
}

.card:hover .back-rotate {
    transform: rotateY(360deg);
}

.container .bsa {
    grid-column: 1;
    grid-row: 1/3;
}

.bsa>.front-rotate {
    background-color: white;
}

.bsa>.back-rotate {
    background-color: white;
}

.container .qa {
    grid-column: 1;
    grid-row: 3/5;
}

.qa>.front-rotate {
    background-color: green;
}

.qa>.back-rotate {
    background-color: white;
}

.container .js {
    grid-column: 2;
    grid-row: 1/4;
}

.js>.front-rotate {
    background-color: rgba(255, 208, 0, 0.897);
}

.js>.back-rotate {
    background-color: white;
}

.container .java {
    grid-column: 2;
    grid-row: 4;
}

.front-slidedown, .front-slideright, .front-slide-to-tr-corner, .front-slide-to-br-corner, .back-state {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    transition: 1s;
}

.java>.front-slidedown {
    background-color: rgba(190, 10, 49, 0.897);
    z-index: 2;
}

.java>.back-state {
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

.card:hover .front-slidedown {
    transform: translateY(150%);
}

.card:hover .back-state {
    visibility: visible;
}

.container .right-wrp {
    grid-column: 2;
    border: none;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(8, 12.5%);
    justify-content: center;
}

.container .php {
    grid-column: 1/3;
    grid-row: 1/4;
}

.php>.front-slide-to-tr-corner {
    background-color: rgba(176, 171, 182, 0.897);
    z-index: 3;
}

.php>.back-state {
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

.card:hover .front-slide-to-tr-corner {
    transform: translateY(-100%) translateX(100%);
}

.card:hover .back-state {
    visibility: visible;
}

.container .dot-net {
    grid-column: 1;
    grid-row: 4/9;
}

.dot-net>.front-slide-to-br-corner {
    background-color: rgba(56, 3, 126, 0.897);
    z-index: 2;
}

.dot-net>.back-state {
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

.card:hover .front-slide-to-br-corner {
    transform: translateY(100%) translateX(150%);
}

.card:hover .back-state {
    visibility: visible;
}

.container .events {
    grid-column: 2;
    grid-row: 4/6;
}

.events>.front-slideright {
    background-color: rgba(87, 90, 245, 0.897);
    z-index: 2;
}

.events>.back-state {
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

.card:hover .front-slideright {
    transform: translateX(150%);
}

.card:hover .back-state {
    visibility: visible;
}

.container .blog {
    grid-column: 2;
    grid-row: 6/8;
}

.blog>.front-slideright {
    background-color: rgb(41, 5, 172);
    z-index: 2;
}

.blog>.back-state {
    z-index: 1;
    visibility: hidden;
}

.container .contacts {
    grid-column: 2;
    grid-row: 8;
}

.contacts>.front-slideright {
    background-color: rgb(21, 0, 98);
    z-index: 2;
}

.contacts>.back-state {
    z-index: 1;
    visibility: hidden;
}

.card .info-text {
    margin: 10px;
    font-style: bold;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    color: black;
    display: block;
    overflow: auto;
}

header #logo {
    height: 30px;
    width: 105px;
}

header .content-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-component {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    background-color: rgb(223, 116, 116);
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1;
    user-select: none;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.round {
    border-radius: 50%;
}

footer {
    display: grid;
    justify-content: center;
    margin: 20px;
}

@media all and (max-width: 900px) {
    .container {
        overflow: hidden;
        margin-top: 30px;
        height: 100%;
        width: 100%;
        border: none;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .container .left-wrp {
        grid-row: 1;
        border: none;
        display: grid;
        grid-template-columns: 40% 35% 25%;
        grid-template-rows: repeat(5, 20%);
        justify-content: center;
    }
    .container .right-wrp {
        grid-row: 2;
        grid-column: 1;
        border: none;
        display: grid;
        grid-template-columns: 25% 35% 40%;
        grid-template-rows: repeat(5, 20%);
        justify-content: center;
    }
    .container .bsa {
        grid-column: 1;
        grid-row: 1/6;
        z-index: 4;
    }
    .container .qa {
        grid-column: 3;
        grid-row: 4/6;
        z-index: 5;
    }
    .container .js {
        grid-column: 2;
        grid-row: 1/6;
        z-index: 3;
    }
    .container .java {
        grid-column: 3;
        grid-row: 1/4;
        z-index: 4;
    }
    .container .events {
        border: none;
        grid-column: 1;
        grid-row: 1/3;
    }
    .container .blog {
        grid-column: 1;
        grid-row: 3/5;
    }
    .container .contacts {
        grid-column: 1;
        grid-row: 5;
    }
    .container .php {
        grid-column: 2/4;
        grid-row: 1/4;
        z-index: 2;
        border: none;
    }
    .container .dot-net {
        grid-column: 2/4;
        grid-row: 4/6;
        z-index: 4;
        border: none;
    }
}